.gallery-item {
    opacity: 1;
}

.gallery-item:hover {
    opacity: 0.5;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
}