<section id="contact" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text"><strong>Contact</strong></h1>
                <hr>
                <h4>If you have a request already in mind or just have general questions, please submit a message.</h4>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <ng-form novalidate name="contactForm">
                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-user prefix"></i>
                        <input type="text" id="name" class="form-control" required="required" ng-model="vm.fullName">
                        <label for="name">Your full name</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="email" class="form-control" required="required" ng-pattern="vm.emailRegex" ng-model="vm.email">
                        <label for="email">Your email</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-tag prefix"></i>
                        <textarea type="text" id="message" class="md-textarea" required="required"  ng-model="vm.message" maxlength="400"></textarea>
                        <label for="message">Message <strong>({{ vm.message.length + '/' + vm.messageLimit }})</strong></label>
                    </div>

                    <div class="text-center">
                        <button class="btn teal" ng-click="vm.sendEmail(contactForm)">Send Message</button>

                        <div class="call">
                            <br>
                            <p>Or call me directly
                                <br>
                                <span><i class="fa fa-phone"> </i></span>(937)270-5527</p>
                        </div>
                        <hr>
                        <h2>Like My Page?</h2>
                        <h5>Please share my website! It's quick and I'll thank you forever.</h5>
                        <div class="btn-group dropup">
                            <button class="btn teal darken 4 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share My Website</button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="" ng-click="vm.share('FACEBOOK')">To Facebook</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" ng-click="vm.share('TWITTER')">To Twitter</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="" ng-click="vm.share('LINKEDIN')">To LinkedIn</a>
                            </div>
                        </div>
                    </div>
                </div>
                </ng-form>
            </div>
        </div>
    </div>
</section>