
<div class="animated fadeIn">
    <div class="row">
        <!-- Motto -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
            <div class="card">
                <h3 class="card-header orange white-text">
                    <i class="fa fa-envelope"></i>
                    My Motto
                </h3>
                <div class="card-block">
                    <h4 class="card-title">Agápē</h4>
                    <p class="card-text">"Selfless love of one person for another without sexual implications (especially love that is spiritual in nature).‬"</p>
                </div>
            </div>
        </div>
        <!-- Hobbies -->
        <div class="col">
            <div class="card">
                <h3 class="card-header red white-text">
                    <i class="fa fa-envelope"></i>
                    Hobbies
                </h3>
                <div class="card-block">
                    <h4 class="card-title">Just To Name a Few</h4>
                    <p class="card-text">Photography, web design, boxing, hiking, swimming, any development, traveling, etc.</p>
                </div>
            </div>
        </div>
        <!-- College -->
        <div class="col">
            <div class="card">
                <h3 class="card-header teal white-text">
                  <i class="fa fa-envelope"></i>
                    College
                </h3>
                <div class="card-block">
                    <h4 class="card-title">Northern Kentucky University</h4>
                    <p class="card-text">Graduated in May 2015 with a BS in Computer Science and Minor in Mathematics. Member of the Rho Gamma Chapter of Alpha Phi Alpha Fraternity Inc., as well as Order of Omega Honor Society.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Home -->
        <div class="col">
            <div class="card">
                <h3 class="card-header purple white-text">
                  <i class="fa fa-envelope"></i>
                    Home
                </h3>
                <div class="card-block">
                    <h4 class="card-title">Trotwood, OH</h4>
                    <p class="card-text">Small suburban area that I love dearly. The open corn fields and gray skies do something to my soul.</p>
                </div>
            </div>
        </div>
        <!-- Music -->
        <div class="col">
            <div class="card">
                <h3 class="card-header cyan white-text">
                  <i class="fa fa-envelope"></i>
                    Music
                </h3>
                <div class="card-block">
                    <h4 class="card-title">Mainly R&B Hip-Hop</h4>
                    <p class="card-text">J. Cole, Dave East, Nipsey Hu$$le, Young Thug, Kendrick Lamar</p>
                </div>
            </div>
        </div>
        <!-- Skills -->
        <div class="col">
            <div class="card">
                <h3 class="card-header blue white-text">
                  <i class="fa fa-envelope"></i>
                    Skills
                </h3>
                <div class="card-block">
                    <h4 class="card-title">Trades of All Jack</h4>
                    <h5 class="card-text"><strong>Web Development</strong> HTML5, CSS3, Javascript, PHP, MySQL, AngularJS, KnockoutJS, Bootstrap, Material Design</h5>
                    <h5 class="card-text"><strong>Mobile Development</strong> Java, C#, XML, Swift, Android, iOS</h5>
                    <h5 class="card-text"><strong>Design</strong> Adobe Photoshop, Adobe Illustrator</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <button class="btn btn-default" ng-click="vm.viewMyResume()">
              <i class="fa fa-file-word-o left"></i>View My Resume
            </button>
        </div>
    </div>
</div>
 
 
 <!-- about-->
    <!--<section id="about" class="text" ng-controller="AboutController as vm">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 wow slideInLeft">
            <h2 class="heading yellow-text text-darken-2">About me</h2>
            <p class="lead">"‪<strong>Agápē</strong> - Selfless love of one person for another without sexual implications (especially love that is spiritual in nature).‬"</p>
            <p>First and foremost, thank you for taking time out of your day to visit my portfolio website. My name is Trey Hope, a 24 year old web/mobile developer, graphic designer, and software development fanatic. I am a native of Trotwood, Ohio and an alumni of Northern Kentucky University, with a BS in Computer Science. While in college, I became a member of the Rho Gamma Chapter of Alpha Phi Alpha Fraternity Inc., National Pan-Hellenic Council (N.P.H.C.) President, as well as
              a member of Order of Omega. Once I graduated, I moved to Colorado to become a Custom Software Developer for Amadeus Consulting in Boulder, Colorado. Currently, I work at DTT in Los Angeles, California as a AngularJS/PHP developer.</p>
            <p>Living a life of shear hapiness and love is my goal, as well as ensuring those around me are visially aware of their possibility for hapiness as well. With that in mind, I believe everything else
              will fall into place. <strong>Agápē</strong>.
            </p>
          </div>
          <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 wow slideInRight">
            <p><img ng-mouseover="vm.toggleImageShow()" ng-if="vm.showImage" src="img/profile.jpeg" alt="" class="img-responsive" style="border-radius: 50%;"></img></p>
            <p><img ng-mouseleave="vm.toggleImageShow()" ng-if="!vm.showImage" src="img/profile2.jpeg" alt="" class="img-responsive" style="border-radius: 50%;"></img></p>
            <h5 class="text-center">{{ vm.showImage ? '\"It\'s not what you look at that matters...\"' : '\"it\'s what you see. ~Henry David Thoreau"' }}</h5>
          </div>
        </div>
      </div>
    </section>-->
    <!-- about end-->