<section id="blog" class="animated fadeIn" style="padding: 30px 0">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="orange-text"><strong>Blog</strong></h1>
                <hr>
                <h4>Stay up to date with my development.</h4>
            </div>
        </div>
        <br/>
        <div class="row">
            <div ng-show="vm.isLoading" class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-red">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-yellow">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
                <div class="spinner-layer spinner-green">
                    <div class="circle-clipper left">
                    <div class="circle"></div>
                    </div><div class="gap-patch">
                    <div class="circle"></div>
                    </div><div class="circle-clipper right">
                    <div class="circle"></div>
                    </div>
                </div>
            </div>  
            <div ng-hide="vm.isLoading" ng-repeat="blog in vm.blogs" class="col-sm-3">
                <div class="card text-center">
                    <div class="card-header teal white-text">
                        {{ blog.category }}
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{ blog.title }}</h4>
                        <p class="card-text">{{ blog.subtitle }}</p>
                        <a href="" class="btn orange" ng-click="vm.viewBlog(blog)"><i class="fa fa-clone left"></i>View Blog</a>
                    </div>
                    <div class="card-footer text-muted teal white-text">
                        <p>{{ blog.postDateTime | date: 'yyyy MM dd' }}</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <!-- Add Blog Section -->
        <div class="row">
            <div class="col">
                <!--<button class="btn red" ng-click="vm.toggleBlogForm()">Add Blog</button>-->
                <div ng-show="vm.showBlogForm">
                    <a href="https://html-online.com/editor/">Editor</a>
                    <ng-form novalidate name="contactForm">
                        <div class="md-form">
                            <input type="text" id="title" class="form-control" required="required" ng-model="vm.newBlog.title">
                            <label for="title">Title</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="subtitle" class="form-control" required="required" ng-model="vm.newBlog.subtitle">
                            <label for="subtitle">Subtitle</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="subtitle" class="form-control" required="required" ng-model="vm.newBlog.category">
                            <label for="category">Category</label>
                        </div>
                        <div class="md-form">
                            <input type="text" id="html" class="form-control" required="required" ng-model="vm.newBlog.html">
                            <label for="html">HTML</label>
                        </div>
                        <div class="text-center">
                            <button class="btn teal" ng-click="vm.saveBlog()">Save Blog</button>
                        </div>
                    </ng-form>
                </div>
            </div>
        </div>
    </div>
</section>

